.DS_Store
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
.venv/
.idea/
k3s.yaml
terraform/.terraform
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl
bartenders.rendered.yml
k3s-rendered/