name: Build and Push to Artifact Registry

on:
  workflow_run:
    workflows: [Test]
    types:
      - completed

permissions:
  contents: read
  id-token: write

jobs:
  build-and-push:
    if: github.event.workflow_run.conclusion == 'success'
    runs-on: ubuntu-latest

    env:
      PROJECT_ID: bartenders-464918
      REGION: us-east1
      REPOSITORY: docker-us
      IMAGE_NAME: bartenders

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate to GCP via OIDC
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/987774112216/locations/global/workloadIdentityPools/github-pool/providers/github-provider
          service_account: github-terraform@bartenders-464918.iam.gserviceaccount.com 

      - name: Configure Docker for Artifact Registry
        run: |
          gcloud auth configure-docker $REGION-docker.pkg.dev --quiet

      - name: Build and Push Docker Image
        run: |
          IMAGE_URI=$REGION-docker.pkg.dev/$PROJECT_ID/$REPOSITORY/$IMAGE_NAME:${{ github.sha }}
          docker build -t $IMAGE_URI .
          docker push $IMAGE_URI
