name: Kubernetes Deployment

on:
  workflow_run:
    workflows: [Build and Push to Artifact Registry]
    types:
      - completed

permissions:
  contents: read
  id-token: write

jobs:
  kubectl-deploy:
    runs-on: ubuntu-latest

    env:
      PROJECT_ID: bartenders-464918
      REGION: us-east1
      REPOSITORY: docker-us
      IMAGE_NAME: bartenders

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate to GCP via OIDC
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/987774112216/locations/global/workloadIdentityPools/github-pool/providers/github-provider
          service_account: github-terraform@bartenders-464918.iam.gserviceaccount.com 

      - name: Set up gcloud
        uses: google-github-actions/setup-gcloud@v2

      - name: Run gcloud command
        run: gcloud info

      - name: Copy kubeconfig to /tmp
        run: |
          gcloud compute ssh k3s-vm-1 \
            --zone=us-east1-d \
            --project=bartenders-464918 \
            --ssh-flag="-T" \
            --quiet \
            --command="sudo cp /etc/rancher/k3s/k3s.yaml /tmp/k3s.yaml && sudo chmod 644 /tmp/k3s.yaml"

      - name: Fetch kubeconfig from VM
        run: |
          gcloud compute scp \
            --zone=us-east1-d \
            --project=bartenders-464918 \
            --quiet \
            k3s-vm-1:/tmp/k3s.yaml kubeconfig

      - name: Patch kubeconfig server address
        run: |
          VM_IP=$(gcloud compute instances describe k3s-vm-1 \
            --zone=us-east1-d \
            --project=bartenders-464918 \
            --format='get(networkInterfaces[0].accessConfigs[0].natIP)')
          sed -i "s/0.0.0.0/$VM_IP/" kubeconfig

      - name: Test kubectl access
        env:
          KUBECONFIG: kubeconfig
        run: kubectl get nodes
      
      - name: Check if artifact-read secret exists
        env:
          KUBECONFIG: kubeconfig
        id: check_secret
        run: |
          if kubectl get secret artifact-read >/dev/null 2>&1; then
            echo "exists=true" >> $GITHUB_OUTPUT
          else
            echo "exists=false" >> $GITHUB_OUTPUT
          fi

      - name: Download registry key
        if: steps.check_secret.outputs.exists == 'false'
        run: |
          gcloud iam service-accounts keys create registry_key.json \
            --iam-account=k3s-server@bartenders-464918.iam.gserviceaccount.com \
            --project=bartenders-464918

      - name: Create Docker registry secret
        if: steps.check_secret.outputs.exists == 'false'
        env:
          KUBECONFIG: kubeconfig
        run: |
          kubectl create secret docker-registry artifact-read \
            --docker-server=us-east1-docker.pkg.dev \
            --docker-username=_json_key \
            --docker-password="$(cat registry_key.json)" \
            --docker-email=k3s-server@bartenders-464918.iam.gserviceaccount.com \
            --dry-run=client -o yaml | kubectl apply -f -
              
      - name: Create SUPABASE Secrets
        env:
          KUBECONFIG: kubeconfig
          SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
          SUPABASE_KEY: ${{ secrets.SUPABASE_KEY }}
        run: |
          kubectl create secret generic supabase \
            --from-literal=supabase-url="${SUPABASE_URL}" \
            --from-literal=supabase-key="${SUPABASE_KEY}" \
            --dry-run=client -o yaml | kubectl apply -f -

      - name: Render deployment manifest
        run: |
          export IMAGE_TAG=${{ github.sha }}
          mkdir -p k3s-rendered
          envsubst < k3s/bartenders.yml > k3s-rendered/bartenders.rendered.yml

      - name: deploy cert manager
        env:
          KUBECONFIG: kubeconfig
        run: kubectl apply -f https://github.com/cert-manager/cert-manager/releases/download/v1.19.2/cert-manager.yaml

      - name: deploy bartenders
        env:
          KUBECONFIG: kubeconfig
        run: |
          kubectl apply -f k3s-rendered --prune -l 'app=bartenders,environment in (all,gcp)'

      - name: Verify deployment
        env:
          KUBECONFIG: kubeconfig
        run: |
          kubectl rollout status deployment/bartenders --timeout=120s
          DEPLOYED_TAG="$(kubectl get pods -l app=bartenders -o=jsonpath='{$.items[0].spec.containers[0].image}' | cut -d : -f 2)"
          echo "Deployed image tag: $DEPLOYED_TAG"
          if [ "$DEPLOYED_TAG" != "${{ github.sha }}" ]; then
            echo "Error: Deployed tag does not match expected tag."
            exit 1
          fi
          echo "Success: Deployed tag matches expected tag."
          kubectl get pods
          kubectl get svc
          kubectl get ingress